[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
graphql-core = "==3.0.0a0"
aiohttp = "*"
annotypes = "*"
p4p = "*"

[requires]
python_version = "3.7"
