[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
p4p = "*"
mypy = "*"

[packages]
graphql-core = "==3.0.0a2"
aiohttp = "*"
numpy = "*"

[requires]
python_version = "3.7"
