[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
p4p = "*"
mypy = "*"

[packages]
graphql-core = "==3.0.1"
aiohttp = "*"
numpy = "*"
caproto = "*"
cothread = {path = "/home/hgs15624/code/python/cothread"}

[requires]
python_version = "3.7"
