name: Link Check

on:
  workflow_dispatch:
  schedule:
    # Run weekly to check URL links still resolve
    - cron: "0 8 * * WED"

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install python packages
        uses: ./.github/actions/install_requirements
        with:
          requirements_file: requirements-dev-3.x.txt
          install_options: -e .[dev]
          python_version: "3.11" # Pinned to 3.11 https://github.com/DiamondLightSource/coniql/issues/101

      - name: Check links
        run: tox -e docs build -- -b linkcheck

      - name: Keepalive Workflow
        uses: gautamkrishnar/keepalive-workflow@v1
